<a href="https://colab.research.google.com/github/carlotagifre/Wheretowatch/blob/main/Wheretowatch_1_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [15]:
imdb_df=pd.read_csv('/content/IMDb movies.csv')
#dropped unrelated columns & unimportant columns with a lot of missing values(writer,director)
imdb_df.drop(['budget','usa_gross_income','metascore','worlwide_gross_income','production_company','reviews_from_users','reviews_from_critics','writer','director','imdb_title_id','date_published','original_title'],axis=1,inplace=True)
#dropped all missing values from these columns so there's no missing values
imdb_df.dropna(subset=['description','language','country','actors'],inplace=True)
imdb_df=imdb_df[imdb_df["language"].str.contains("None")==False]
imdb_df=imdb_df.astype({'title': 'object', 'year': 'int64', 'genre':'object','duration':'int64','country':'object','language':'object','actors':'object'
,'description':'object','avg_vote':'float64','votes':'int64'})

                                               title  year  ... avg_vote  votes
3                                          Cleopatra  1912  ...      5.2    446
4                                          L'Inferno  1911  ...      7.0   2237
5  From the Manger to the Cross; or, Jesus of Naz...  1912  ...      5.7    484
6                                     Madame DuBarry  1919  ...      6.8    753
7                                         Quo Vadis?  1913  ...      6.2    273

[5 rows x 10 columns]